#sendOrders
  form
    .send_order
      > p:first-child
        font-size: 16px

    .orders-sent
      .row:first-child

        div:first-child > .WeekiSearchInput
          height: 100% !important



  @media only screen and (max-width: 576px)
    form
      .send_order
        .col-12 > button
          width: 100% !important