#single

  > .loading
    height: 50vh

    > img
      height: 100px

  > .product

    > .part1

      > div
        @media screen and (max-width: 991px)
          padding: 0 0 10px!important

        > div
          background-color: white
          border-radius: 4px
          padding: 24px

          > p.title
            color: black
            font-size: 16px

        > div:first-child > .section1 > div:last-child
          padding: 0 24px

          > .detail
            background-color: #F5F5F5
            border-radius: 4px
            height: calc(100% - 74.5px)
            padding: 16px

          > .items

            > img
              width: 18px
