section
  background-color: whitesmoke!important

.layout
  height: 100vh

.logo
  height: 40px!important

.swal2-loading, .swal2-loader
  margin: 0!important

.swal2-popup .swal2-styled:focus
  box-shadow: none !important

.cursor-pointer
  cursor: pointer!important

.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.gm
  max-width: 1440px
  margin: auto

.mt-80
  margin-top: 80px!important

.mb-80
  margin-bottom: 80px!important

.mt-16
  margin-top: 16px!important

.mt-20
  margin-top: 20px!important

.mt-26
  margin-top: 26px!important

.mb-20
  margin-bottom: 20px!important

.mt-12
  margin-top: 12px!important

.mb-12
  margin-bottom: 12px!important

.mt-40
  margin-top: 40px!important

.mb-16
  margin-bottom: 16px!important

.ml-16
  margin-left: 16px!important

.mr-16
  margin-right: 16px!important

.pl-12
  padding-left: 12px!important

.pr-12
  padding-right: 12px!important

.ml-12
  margin-left: 12px!important

.mr-12
  margin-right: 12px!important

.pl-16
  padding-left: 16px!important

.pl-20
  padding-left: 20px!important

.pl-40
  padding-left: 40px!important

.pr-16
  padding-right: 16px!important

.pb-16
  padding-bottom: 16px!important

.pb-12
  padding-bottom: 12px!important

.pt-12
  padding-top: 12px!important

.pt-16
  padding-top: 16px!important

.mt-24
  margin-top: 24px!important

.mb-24
  margin-bottom: 24px!important

.mt-35
  margin-top: 35px!important

.mr-8
  margin-right: 8px!important

@keyframes hide

  0%
    opacity: 1

  100%
    overflow: hidden
    opacity: 0
    display: none
    visibility: hidden

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
.btn:focus,
.btn-group:focus,
.accordion-button:focus,
.uneditable-input:focus
  box-shadow: none
  outline: 0 none

.logo_design
  height: 42px!important

::-webkit-scrollbar
  width: 7px!important
  height: 8px!important

::-webkit-scrollbar-track
  background: #f1f1f1!important
  border-radius: 4px!important

::-webkit-scrollbar-thumb
  background: #C2c2c2!important
  border-radius: 7px!important

#WeekiNormalModal_product_edit > div > div > div > .nm-content

  > p
    font-size: 14px
    line-height: 14px

  > .upload_part
    overflow-x: scroll
    padding-bottom: 10px

    > .p_upload_card
      padding-right: 12px
      flex: 25% 0 0
      overflow: hidden

      @media screen and (max-width: 570px)
        flex: 51% 0 0

      > img:first-child
        width: 100%
        aspect-ratio: 1 / 1
        object-fit: cover
        border-radius: 4px

      > img:last-child
        right: 20px
        bottom: 10px
        width: 14px
        height: auto

    > .p_upload_card.add_p
      aspect-ratio: 1 / 1
      padding: 6px 0!important

      > .p_card
        background-color: white
        border-radius: 4px
        width: 100%
        height: 100%

        > img
          width: 40px!important

    > .p_upload_card.img_loading::before
      content: ''
      display: block
      position: absolute
      z-index: 5
      left: -150px
      top: 0
      height: 100%
      width: 150px
      background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%)
      animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite

  > .p_detail_part
    margin: 0 -11px!important

#WeekiNormalModal_user_profile > div > div > div > .nm-content

  > .nf > img
    height: 70px
    width: 70px
    background-color: transparent

  > .content

    > div:first-child

      > div:first-child > div:last-child

        > p
          font-size: 14px!important
          margin-bottom: 8px!important
          line-height: 14px!important

        > div
          height: 15px!important

          > img
            height: 15px!important
            width: 15px!important

      > div:last-child

        > div

          > p
            color: #6E6E6E!important
            text-decoration: underline!important
            font-size: 14px!important

          > p:after
            content: 'whats your rate?'

    > div:last-child > div

      > img
        width: 16px!important
        height: 16px!important

      > p
        font-size: 14px!important
        line-height: 14px!important

@media screen and (max-width: 769px)

  #WeekiNormalModal_user_profile > div > div > div > .nm-content > .content > div:first-child > div:last-child > div > p:after
    content: 'Your Rate?'!important

@keyframes load
  from
    left: -150px
  to
    left: 100%